<html>
  <head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png"/>
    <link rel="stylesheet" href="./css/style.css" />
    <script src="/js/app.js"></script>
  </head>
  <body>
    <div class="main-content">
        {{>header}}<!--render header partial template-->
        <h2>{{body}}</h2>
    </div>
    {{>footer}}
  </body>
</html>